@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import './font.css';
@import 'tailwindcss';

@config '../../tailwind.config.js';

body {
  background: #000;
  color: #fff;
}

.hue-rotate-animation {
  animation: hue-rotate 10s linear infinite;
  filter: hue-rotate(0deg);
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 6s linear infinite;
  transform: rotate(0deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
